{% extends 'base.html' %}
{% load static %}
{% block title %}Yangi parolni o'rnatish{% endblock title %}
{% block content %}
<div class="container mt-5 p-4 rounded-4 shadow-lg" style="background-color: #f8f9fa;">
    <h2 class="text-success mb-3">🔒 Yangi parol</h2>
    {% if validlink %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success mt-2">🔁 Parolni o‘zgartirish</button>
        </form>
    {% else %}
        <p class="text-danger">❌ Bu havola eskirgan yoki allaqachon ishlatilgan.</p>
    {% endif %}
</div>
{% endblock content %}
